[run]
omit =
#    */_proxy_chain_*.py
    aiohttp_socks/core_socks/_basic_auth.py
    aiohttp_socks/_deprecated.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    raise ValueError
