users {LOGIN}:CL:{PASSWORD}

# auth strong
# socks -p{SOCKS5_IPV6_PORT} -i{SOCKS5_IPV6_HOST}

auth strong
socks -p{SOCKS5_IPV4_PORT} -i{SOCKS5_IPV4_HOST}

auth none
socks -p{SOCKS4_PORT} -i{SOCKS4_HOST}